PORT=5000
DB_HOST=sql10.freesqldatabase.com
DB_PORT=3306
DB_USER=sql10827043
DB_PASSWORD=By8CJS5MUl
DB_NAME=sql10827043
JWT_SECRET=skillBinimoySecret2026XYZ
FRONTEND_URL=sweet-kitten-7262ee.netlify.app
